<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/add_user.css">
    <script src="../static/js/add_user.js" defer></script>

    <title>formulaire</title>
</head>

<body>
    <div class="cadre">
        <h2>ADD USER</h2>
        <form action="" id="form" method="POST">
            <fieldset id="gauche">
                <legend>Donnee Personnel</legend>
                <input type="text" name="name" id="name" placeholder="name" required />
                <input type="text" name="username" id="username" placeholder="username" required />
                <input type="email" name="email" id="email" placeholder="email" required />
                <input type="text" name="phone" id="phone" placeholder="phone" required />
                <input type="text" name="website" id="website" placeholder="website" required />
            </fieldset>
            <div>
                <fieldset id="milieux">
                    <legend>Address</legend>
                    <input type="text" name="street" id="street" placeholder="street" required />
                    <input type="text" name="suite" id="suite" placeholder="suite" required />
                    <input type="text" name="city" id="city" placeholder="city" required />
                    <input type="text" name="zipcode" id="zipcode" placeholder="zipcode" required />
                </fieldset>
                <fieldset id="milieux_bas">
                    <legend>Geo</legend>
                    <input type="number" step="0.1" name="lat" id="lat" placeholder="latitude" required />
                    <input type="number" step="0.1" name="lng" id="lng" placeholder="longitude" required />
                </fieldset>
            </div>
            <fieldset id="droite">
                <legend>Company</legend>
                <input type="text" name="company_name" id="company_name" placeholder="name" required />
                <input type="text" name="catchPhrase" id="catchPhrase" placeholder="catchPhrase" required />
                <input type="text" name="bs" id="bs" placeholder="bs" required />

            </fieldset>


            <input type="submit" id="submit" value="AJOUTER">
        </form>

    </div>
    <!-- <footer>&copy Groupe4 Flask_Projet P4 Dev_Data SA 2022</footer> -->

</body>

</html>