<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/affiche_user.css">
    <title>AFFICHE USER</title>
</head>

<body>

    <div id="container">
        <div id="btns">
            <a href="#">
                <button class="btnP" id="btn1">NEW USER</button>
            </a>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th class="choice">Choice</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody class="listUsers">
                
            </tbody>
        </table>

    </div>

    

    <!-- <footer>&copy Groupe4 Flask_Projet P4 Dev_Data SA 2022</footer> -->
    <script src="../static/js/affiche_user.js"></script>
</body>
<!-- <input type="button" value="update">
<input type="button" value="delete"> -->
</html>