<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/user.css">

    <title>Profil</title>
</head>
<body>
<div id="containtProfil">
    <fieldset class="title">
        <legend>DONNEES PERSONNELLES</legend>
        <table>
                <tr class="row">
                    <td class="name">name</td>
                    <td class="username">username</td>
                    <td class="email">email</td>
                    <td class="phone">phone</td>
                    <td class="website">website</td>
                </tr>
        </table>
    </fieldset>
    <div id="middle">
        <fieldset class="titleMiddle">
            <legend>ADDRESS</legend>
            <table>
                
                    <tr class="row">
                        <td class="street">street</td>
                        <td class="suite">suite</td>
                        <td class="city">city</td>
                        <td class="zipcode">zipcode</td>
                    </tr>
                
            </table>
        </fieldset>

        <fieldset class="titleMiddle">
            <legend>GEO</legend>
            <table>
                
                    <tr class="row">
                        <td class="lat">lat</td>
                        <td class="lng">lng</td>
                    </tr>
            
            </table>
        </fieldset>

    </div>

    <div id="right">
    

        <fieldset class="titleRight">
            <legend>COMPANY</legend>
            <table>
                <tbody>
                    <tr class="row">
                        <td class="NAME">NAME</td>
                        <td class="CATCHPHRASE">CATCHPHRASE</td>
                        <td class="bs">BS</td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>

</div>
<script src="../static/js/user.js"></script>

</body>
</html>